<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3 ">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control" value="{{email}}" placeholder="請輸入信箱"
            required>
          <div id="invalid-feedback" class="invalid-feedback">
            請輸入信箱
          </div>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" value="{{password}}"
            placeholder="請輸入密碼" required>
        </div>
        <div id="invalid-feedback" class="invalid-feedback">
          請輸入密碼
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block"> Login in</button>
          <a href="/auth/facebook" class="btn btn-info btn-block">Facebook Login</a>
        </div>
      </form>
      <p class="lead mt-4">
        No Account <a href="/users/register"> Register</a>
      </p>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>