<div class="container new-page">
  
  <div class="box">
    <h2>請輸入支出</h2>
    <form action="/records/new" method="POST">
      <div class="form-group">
        <label for="name">名稱:</label>
        <input class="input-box"type="text" id="name" name="name" value="" required>
      </div>
      <div class="form-group">
        <label for="date">日期:</label>
        <input class="input-box" type="date" id="date" name="date" value="" required>
      </div>
      <div class="form-group">
        <label for="category">類別:</label>
        <select class="input-box" name="category" id="category">
          <option>家居物業</option>
          <option>交通出行</option>
          <option>休閒娛樂</option>
          <option>餐飲食品</option>
          <option>其他</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amount">金額:</label>
        <input class="input-box" type="text" id="amount" name="amount" min="0" maxlength="8" required>
      </div>
      <div class="d-flex">
      <button type="submit" class="edit-button btn btn-outline-secondary "> Create </button>
      </div>
    </form>
  </div>
</div>